#*.root
*.png
*.py[cod]
Analysis/results
Analysis/plots
Analysis/*.coffea
*.meta.json
*.o
*.so
*.txt
Analysis/BATCH*
Analysis/con_*
Analysis/Corrections/Summer20UL_*
Analysis/Corrections/ULnanoAOD*
Analysis/Corrections/NanoAODv6*
Analysis/inputs/*NanoAODv6*
Analysis/inputs/*ULnanoAOD*
Analysis/inputs/data/ULnanoAOD/
Analysis/inputs/data/NanoAODv6/
